.parent{
    display: flex;
    border: 2px solid blueviolet;
}
.parent>.card{
    padding: 2%;
    margin:1px;
    border: 2px solid black;
    width: 20%;
}
img{
    display: block;
    width: 200px;
    border-radius: 5%;
    border: 1px solid skyblue;
}